/* public/css/master.css */

body {font-family: 'Open Sans', sans-serif;}
.breadcrumb-item {font-size: 0.8em !important;}
.ellipsis{display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.board-table {table-layout: fixed;}
.board-table .date {width: 100px;}

.post-body{white-space: pre-line;}
.post-info{font-size: 0.8em;}

.nav{width: calc(100% - 140px);justify-content: space-between;}
.nav .navbar-nav{flex-direction: initial;}
.nav .navbar-nav li{display: inline-block;margin:0 10px}

.board-table {table-layout: fixed;}
.board-table .author,  .board-table .date {width: 100px;}
.post-index-tool {max-width: 450px;}
.post-index-tool input[type='text']{max-width: 130px;margin: 0 5px;border: 1px solid #ced4da;}

.card .row{justify-content: space-between;}
.highlighted {background-color: yellow;}

.comment_list{display: flex;padding: 20px 0;border-top: 1px solid #dee2e6;}
.comment_list .comment_name{width: 10%;}
.comment_list .comment-edit-enabled{width: 90%;}

.comment_input{display: flex;}
.comment_input textarea{resize: none;}
.comment_input button{margin-left:15px}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}